<div class="carousel">
    <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" width="1280" height="338" viewBox="0 0  1382 338" fill="none">
        <path opacity="0.25" d="M0 128.465V337.172H1381.06C1220.6 337.172 994.247 27.1804 660.444 2.62652C393.401 -17.0166 108.88 78.3341 0 128.465Z" fill="#70AABA"/>
    </svg>
    <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" width="1660" height="338" viewBox="0 0 1244 448" fill="none" >
        <path opacity="0.2" d="M397.915 169.761C600.088 27.1884 910.957 -34.6348 1274 20.8802V447.335H0.0898438C65.307 402.334 236.176 283.818 397.915 169.761Z" fill="#3E7100"/>
    </svg>
    <div class="caousel-imgs">
        <div class="img-left">
            <img src="../../../assets/Image.jpg" height="310">
        </div>
        <div class="img-center" >
            <img src="../../../assets/volunteers-distributing.jpg" width="800">
            <div class="img-center-content" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" >
                <h1 fxFlex="60">KeepFluent helps you to Discover & Deliver Services around you</h1>
            </div>
        </div>
        <div class="img-right">
            <img src="../../../assets/elder-people.jpg" height="310">
        </div>
    </div>
</div>