<div fxLayout="row" class="gallery_comp" fxFlex="100" fxLayoutAlign="center center">
    <div>
        <p class="grid_title">Previously Viewed</p>
        <div class="first">
            <img src="../../assets/Rectangle 1219.png" alt="#">
            <img src="../../assets/Rectangle 1220.png" alt="#">
            <img src="../../assets/Rectangle 1221.png" alt="#">
            <img src="../../assets/Rectangle 1222.png" alt="#">
        </div>
    </div>

    <div>
        <p class="grid_title">New on Platform</p>
        <div class="first">
            <img src="../../assets/Rectangle 1219.png" alt="#">
            <img src="../../assets/Rectangle 1220.png" alt="#">
            <img src="../../assets/Rectangle 1221.png" alt="#">
            <img src="../../assets/Rectangle 1222.png" alt="#">
        </div>
    </div>

    <div>
        <p class="grid_title">New Collaborations</p>
        <div class="first">
            <img src="../../assets/Rectangle 1219.png" alt="#">
            <img src="../../assets/Rectangle 1220.png" alt="#">
            <img src="../../assets/Rectangle 1221.png" alt="#">
            <img src="../../assets/Rectangle 1222.png" alt="#">
        </div>
    </div>
</div>