<footer>
    <div class="upper-footer">
        <div class="footer-logo" fxLayout="column" fxLayoutAlign="center start" fxFlex="45">
            <span class="logo-head">KEEFFLUENT</span>
            <span class="logo-text">Discover & Deliver Services</span>
        </div>
        <div class="footer-1" fxLayout="column" fxLayoutAlign="center start" fxFlex="25">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">What we do</a></li>
            </ul>
        </div>
        <div class="footer-2" fxLayout="column" fxLayoutAlign="center start" fxFlex="25">
            <ul>
                
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <div class="footer-3" fxLayout="column" fxLayoutAlign="center start" fxFlex="25">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
    </div>
    <div class="lower-footer" fxLayout="row"  fxLayoutAlign="center end">
        <div class="copyright" fxFlex="50" fxLayoutAlign="start center">Copyright 2022 All rights reserved </div>
        <div class="social-links" fxFlex="50" fxLayout="row"  fxLayoutAlign="center center">
            <div class="facebook" fxLayout="row" fxFlex="30">
                <img src="../../../assets/fb.jpg">
                <a href="#">Facebook</a>
            </div>
            <div class="linkedin" fxLayout="row" fxFlex="30">
                <img src="../../../assets/ln.jpg">
                <a href="#">Linkedin</a>
            </div>
            <div class="insta" fxLayout="row" fxFlex="30">
                <img src="../../../assets/in.jpg">
                <a href="#">Instagram</a>
            </div>
        </div>
    </div>
</footer>