  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="display:inline-flex; width:100vw;height: 50vh;flex-direction: row; ;padding: 20px;margin-top: 150px;">
    <div class="start-slide">
      <div class="inner-content">
        <h3 class="primary">Top pics <br> of the week</h3>
        <p class="roboto-small">We've selected top services of this <br> week which are were searched by <br> our audience</p>
        <br>
        <a style="margin-top: 3em;" href="#" class="veiw-all primary">VIEW ALL</a>
      </div>
    </div> 
  
    <div class="slide-content">
      <img src="../assets/image 8.png" alt="#" height="200px">
      <div class="image-content">
        <p>Service 1</p>
        <span>-<a href="#"> SAIVA</a></span>
      </div>
      <button>
        Request Service
      </button>
    </div>
  
    <div class="slide-content">
      <img src="../assets/image 9.png" alt="#" height="200px">
      <div class="image-content">
        <p>Service 1</p>
        <span>-<a href="#"> SAIVA</a></span>
      </div>
      <button>
        Request Service
      </button>
    </div>
  
    <div class="slide-content">
      <img src="../assets/image 10.png" alt="#" height="200px">
      <div class="image-content">
        <p>Service 1</p>
        <span>-<a href="#"> SAIVA</a></span>
      </div>
      <button>
        Request Service
      </button>
    </div>
  
  
    <div class="slide-content">
      <img src="../assets/image 10.png" alt="#" height="200px">
      <div class="image-content">
        <p>Service 1</p>
        <span>-<a href="#"> SAIVA</a></span>
      </div>
      <button>
        Request Service
      </button>
    </div>
  
    <div class="slide-content">
      <img src="../assets/image 10.png" alt="#" height="200px">
      <div class="image-content">
        <p>Service 1</p>
        <span>-<a href="#"> SAIVA</a></span>
      </div>
      <button>
        Request Service
      </button>
    </div>
  </div>
  