<div class="new-collaborator">
    <h1>New Collaborators</h1>
    <div class="new-collab-content"  fxLayout="column">
        <div class="content-1" fxLayout="row" fxLayoutAlign="center center">
            <div class="client-8"  >
                <img class="client-imgs" src="../../../assets/client-8.png" alt="Saiva" >
            </div>
            <div class="client-6" >
                <img class="client-imgs" src="../../../assets/client-6.png" alt="Asian_texans_Justice" >
            </div>
            <div class="client-1" >
                <img class="client-imgs" src="../../../assets/client-1.png" alt="APAPA" >
            </div>
            <div class="client-7" >
                <img class="client-imgs" src="../../../assets/client-7.png" alt="khush" >
            </div>
        </div>
        <div class="content-2" fxLayout="row" fxLayoutAlign="center center">
            <div class="client-5" >
                <img class="client-imgs2" src="../../../assets/client-5.png" alt="AFSSA" >
            </div>
            <div class="client-4" >
                <img class="client-imgs2" src="../../../assets/client-4.png" alt="AAI" >
            </div>
            <div class="client-2" >
                <img class="client-imgs2" src="../../../assets/client-2.png" alt="Sankara" >
            </div>
        </div>
    </div>
</div>
<div class="background-div">
</div>
<div class="fuelNumbers" fxLayout="column" fxLayoutAlign="center center">
    <h2>Numbers that give us fuel</h2>
    <div class="fuelContent">
        <div class="c-1" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">24</h1>
            <p>No. of Organization</p>
        </div>
        <div class="c-2" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">1034</h1>
            <p>No. of Services</p>
        </div>
        <div class="c-3" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">560</h1>
            <p>No. of Volunteers</p>
        </div>
        <div class="c-4" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">24</h1>
            <p>No. of Requests Flowing</p>
        </div>
        <div class="c-5" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">1034</h1>
            <p>Total Amount Donated </p>
        </div>
        <div class="c-6" fxLayout="column" fxLayoutAlign="center center">
            <h1 style="color: #4593AB;font-weight: 700;">149830</h1>
            <p>Lives influenced through our services</p>
        </div>
    </div>
</div>